$bg: #ff0;

body {
    background-image: url('../img/download.png');
    padding: 0;
    margin: 0;
    color: #f00;
    font-family: sans-serif;
    h1 {
        font-size: 2rem;
        transform: translateY(23px);
    }
}
